In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [2]:
calories = pd.read_csv('calories.csv')

In [3]:
calories.head()

    User_ID  Calories
0  14733363       231
1  14861698        66
2  11179863        26
3  16180408        71
4  17771927        35

In [4]:
exercise_data = pd.read_csv('exercise.csv')

In [5]:
exercise_data.head()

    User_ID  Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0  14733363    male   68   190.0    94.0      29.0       105.0       40.8
1  14861698  female   20   166.0    60.0      14.0        94.0       40.3
2  11179863    male   69   179.0    79.0       5.0        88.0       38.7
3  16180408  female   34   179.0    71.0      13.0       100.0       40.5
4  17771927  female   27   154.0    58.0      10.0        81.0       39.8

In [6]:
calories_data = pd.concat([exercise_data,calories['Calories']],axis =1)

In [7]:
calories_data.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35

In [8]:
calories_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   User_ID     15000 non-null  int64
 1   Gender      15000 non-null  object
 2   Age         15000 non-null  int64
 3   Height      15000 non-null  float64
 4   Weight      15000 non-null  float64
 5   Duration    15000 non-null  float64
 6   Heart_Rate  15000 non-null  float64
 7   Body_Temp   15000 non-null  float64
 8   Calories    15000 non-null  int64
dtypes: float64(5), int64(3), object(1)
memory usage: 1.0+ MB

In [9]:
calories_data.replace({"Gender":{'male':0,'female':1}}, inplace=True)

In [10]:
calories_data.isnull().sum()

User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [11]:
x = calories_data.drop(columns=['User_ID','Calories'], axis=1)
y = calories_data['Calories']

In [12]:
print(x)

       Gender  Age  Height  Weight  Duration  Heart_Rate  Body_Temp
0           0   68   190.0    94.0      29.0       105.0       40.8
1           1   20   166.0    60.0      14.0        94.0       40.3
2           0   69   179.0    79.0       5.0        88.0       38.7
3           1   34   179.0    71.0      13.0       100.0       40.5
4           1   27   154.0    58.0      10.0        81.0       39.8
...       ...  ...     ...     ...       ...         ...        ...
14995       1   20   193.0    86.0      11.0        92.0       40.4
14996       1   27   165.0    65.0       6.0        85.0       39.2
14997       1   43   159.0    58.0      16.0        90.0       40.1
14998       0   78   193.0    97.0       2.0        84.0       38.3
14999       0   63   173.0    79.0      18.0        92.0       40.5

[15000 rows x 7 columns]

In [13]:
print(y)

0        231
1         66
2         26
3         71
4         35
        ...
14995     45
14996     23
14997     75
14998     11
14999     98
Name: Calories, Length: 15000, dtype: int64

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state = 2)

In [15]:
print(x.shape,x_train.shape,x_test.shape)

(15000, 7) (12000, 7) (3000, 7)

In [16]:
model = XGBRegressor()

In [17]:
model.fit(x_train,y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [18]:
# finding accuracy
model.score(x_test,y_test)

0.998800624504713

In [19]:
input_data = np.array([0,68,190,94,29,105,40.8])
# Change the input data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# Predict using your machine learning model
prediction = model.predict(input_data_reshaped)

print("Predicted Output:", prediction)

Predicted Output: [236.13371]

In [20]:
import numpy as np

# First, you need to have your machine learning model loaded or defined.
# If you have a trained model, load it here. For example:
# from sklearn.externals import joblib
# model = joblib.load('your_model.pkl')

# Replace 'your_model.pkl' with the actual filename of your trained model.

# Input data
gender = int(input("Enter gender\nif male enter 0 and female enter 1: "))
age = float(input("Enter age: "))
height = float(input("Enter your height (in cm): "))
weight = float(input("Enter weight (in kg): "))
duration = float(input("Enter duration of exercise you do (in minutes): "))
heart_rate = float(input("Enter heart rate (in bpm): "))
body_temp = float(input("Enter your body temperature (in °C): "))

# Make sure you convert user inputs to appropriate data types (e.g., float for numerical inputs)

# Create a NumPy array from the input data
input_data = np.array([gender, age, height, weight, duration, heart_rate, body_temp])

# Reshape the input data to match the expected shape of your model
input_data_reshaped = input_data.reshape(1, -1)

# Predict using your machine learning model
prediction = model.predict(input_data_reshaped)

print("Predicted Output:", prediction)

Enter gender
if male enter 0 and female enter 1: 1
Enter age: 21
Enter your height (in cm): 152
Enter weight (in kg): 62
Enter duration of exercise you do (in minutes): 45
Enter heart rate (in bpm): 90
Enter your body temperature (in °C): 40.8
Predicted Output: [139.2657]